.App {
  text-align: center;
  width: 80%;
  margin: auto;
}

.chat-main {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

.live-users {
  border: 1px solid black;
  width : 20%;
}